/*/* custom media queries 
@custom-media --sm-viewport (min-width: 0);
@custom-media --sm-only-viewport (max-width: 750px);
@custom-media --md-viewport (min-width: 750px);
@custom-media --md-only-viewport (min-width: 750px) and (max-width: 960px);
@custom-media --lg-viewport (min-width: 960px);

*/
:root {
    --primary-color: rgba(84,18,60,.78);
    --black: #000;
}

html {
    background-color: #e2e5ec;
}

body {
    margin: 0;
}

h1 {
    color: var(--primary-color);
    font-family: 'Ubuntu', Arial;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    color: var(--black);
    font-family: 'Ubuntu', Arial;
    font-size: 30px;
    letter-spacing: 3px;
}

p {
    color: var(--black);
    font-family: 'Ubuntu', Arial;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 2rem;

    @media only screen and (min-width: 850px) {
        margin: 0 5rem;
    }
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}


.left {
    position: relative;
    text-align: center;

    h1, h2, p {
        align-self: center;
    }
}

.marissa {
    height: 40vh;
    position: relative;
    margin-top: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    margin: 4rem auto;
}

.social-link {
    border-bottom: none;
    margin: 0 1rem;
}

.social-link-img {
    height: 2rem;
}

@media only screen and (min-width: 850px) {
    .left {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 60vw;
        text-align: center;

        h1, h2, p {
            align-self: center;
        }
    }

    .marissa {
        height: 45%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-top: 5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
