<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Marissa Halpert</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" href="/favicon.ico">

        {# Facebook Open Graph Tags #}
        <meta property="og:title" content="Marissa Halpert">
        <meta property="og:site_name" content="Marissa Halpert">
        <meta property="og:url" content="http://www.marissahalpert.com">
        <meta property="og:description" content="Marissa Halpert is an award-winning Front-End Web Developer based in Washington, DC.">
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">

        {# Twitter Summary Card with Large Image tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="Marissa Halpert">
        <meta name="twitter:creator" content="Marissa Halpert">
        <meta name="twitter:title" content="Marissa Halpert">
        <meta name="twitter:description" content="Marissa Halpert is an award-winning Front-End Web Developer based in Washington, DC.">
        <meta name="twitter:image" content="">

        <link href="/static/css/app.css" rel="stylesheet">
        <script src="/static/js/webslides-bundle.js"></script>
        <script src="/static/js/app-bundle.js" async defer></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
