{% extends '_base.html' %}

{% block content %}
<main>

<article id="webslides">
    <section class="content-center">
        <h1>Hi &#x1F44B;</h1>
    </section>

    <section class="content-center">
        <h1>I'm Marissa Halpert.</h1>
        <br><br><br><br>
        <div>
            <a href="mailto:marissa.halpert@gmail.com" target="_blank">
                <img src="/static/images/social/envelope.png" class="Social-icon">
            </a>

            <a href="https://www.linkedin.com/in/marissahalpert/" target="_blank">
                <img src="/static/images/social/linkedin.png" class="Social-icon">
            </a>
            <br>
            <a href="https://twitter.com/marissahalpert" target="_blank">
                <img src="/static/images/social/twitter.png" class="Social-icon">

            <a href="https://www.instagram.com/marissa.halpert/" target="_blank">
                <img src="/static/images/social/instagram.png" class="Social-icon">
            </a>

            </a>
        </div>
    </section>

    <section class="content-center">
        <h2>I'm an award-winning Front-End Web Developer based in Washington, DC.</h2>
    </section>

    <section class="content-center">
        <h2>In 2018, I won the <a href="http://dcfemtech.com/awards" target="_blank">DCFemTech Award</a> for Power Women in Code.</h2>
        <h2>I'm also a National Winner of the <a href="https://www.aspirations.org/participate/high-school" target="_blank">NCWIT Award for Aspirations in Computing</a>.</h2>
    </section>

    <section class="content-center">
        <h2>Currently, I'm a Front-End Developer at <a href="https://axios.com/" target="_blank">Axios</a>.</h2>
    </section>

    <section class="content-center">
        <h2>I wrote my first line of code in <a href="http://teachers.henrico.k12.va.us/deeprun/cit/" target="_blank">high school</a> and instantly fell in love with software development.</h2>
    </section>

    <section class="content-center">
        <h3>I continued this passion at <a href="https://www.jmu.edu/" target="_blank">James Madison University</a>, where I graduated with a Bachelors of Science in <a href="http://www.jmu.edu/cs/" target="_blank">Computer Science</a> and a minor in <a href="https://www.jmu.edu/coe/ltle/edmedia.shtml" target="_blank">Educational Media</a>.</h3>
        <p>Go Dukes!</p>
    </section>
    <section class="content-center">
        <h3>After college, I worked as a full-stack Software Developer at <a href="https://www.carmax.com/" target="_blank">CarMax</a> in Richmond, VA. My team was tasked with rebuilding the proprietary appraisal software.</h3>
    </section>
    <section class="content-center margin-bottom">
        <h3 class="margin-bottom">Some highlights from my time at CarMax:</h3>
        <ul>
            <li>Developed new functionality using .NET framework, AngularJS, HTML5, CSS3, and C#.</li>
            <li>Coordinated software update releases, managing communication and timing of several teams.</li>
            <li>Participated in daytime and after-hours on-call support rotation.</li>
            <li>Earned <a href="https://www.scrumalliance.org/get-certified/practitioners/csm-certification" target="_blank">Certified ScrumMaster certification (CSM)</a>. Lead scrum ceremonies.</li>
            <li>Planned and participated in college recruiting events, community service team builder events, and department-wide employee engagement events.</li>
        </ul>
    </section>

    <section class="content-center">
        <h3>Wanting to relocate from (my hometown of) Richmond, I joined ISL in December of 2016 and moved to DC. At ISL, I focused on front-end web development.</h3>
    </section>
    <section class="content-center">
        <div class="wrap">
            <h3>My ISL Portfolio</h3>
            <div class="grid">
                <div class="column size-30">
                    <a href="https://serviceyear.org/" target="_blank">
                        <img src="/static/images/projects/serviceyear.png" class="" title="Service Year">
                    </a>
                    <a href="https://serviceyear.org/" target="_blank">
                        <div class="Portfolio-title">Service Year</div>
                    </a>
                    <a href="https://isl.co/case-studies/service-year/" target="_blank">
                        <div class="Portfolio-subtitle">ISL Case Study</div>
                    </a>
                </div>
                <div class="column size-30">
                    <a href="https://doritosblaze.com/" target="_blank">
                        <img src="/static/images/projects/doritos-blaze.png" class="" title="Doritos Blaze">
                    </a>
                    <a href="https://doritosblaze.com/" target="_blank">
                        <div class="Portfolio-title">Doritos Blaze</div>
                    </a>
                    <a href="https://isl.co/case-studies/doritos-blaze/" target="_blank">
                        <div class="Portfolio-subtitle">ISL Case Study</div>
                    </a>
                </div>
                 <div class="column size-30">
                    <a href="https://4front.io" target="_blank">
                        <img src="/static/images/projects/forefront.png" class="" title="Fore Front">
                    </a>
                    <a href="https://4front.io" target="_blank">
                        <div class="Portfolio-title">Fore_Front</div>
                    </a>
                </div>
            </div>
            <div class="grid">
                <div class="column size-30">
                    <a href="https://music.pennzoil.com" target="_blank">
                        <img src="/static/images/projects/garagesessions.png" class="" title="Pennzoil Garage Sessions">
                    </a>
                    <a href="https://music.pennzoil.com" target="_blank">
                        <div class="Portfolio-title">Pennzoil</div>
                    </a>
                </div>
                <div class="column size-30">
                    <a href="https://synthetics.pennzoil.com" target="_blank">
                        <img src="/static/images/projects/syntheticspennzoil.png" class="" title="Pennzoil Synthetics">
                    </a>
                    <a href="https://synthetics.pennzoil.com" target="_blank">
                        <div class="Portfolio-title">Pennzoil</div>
                    </a>
                </div>
                <div class="column size-30 margin-bottom">
                    <a href="#" target="_blank" title="Sorry! I can't share the actual link :(">
                        <img src="/static/images/projects/apollo.png" class="" title="National Air and Space Museum">
                    </a>
                    <a href="#" target="_blank" title="Sorry! I can't share the actual link :(">
                        <div class="Portfolio-title">National Air and Space Museum</div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="content-center">
        <h3 class="margin-bottom">Some other things I did at ISL:</h3>
        <ul>
            <li>Worked closely with designers, product managers, other developers, and clients</li>
            <li>Mentored and onboarded new team members and junior developers</li>
            <li>Coordinated team activities and events</li>
            <li>Led, coordinated, and hosted tech outreach within DC community</li>
            <li>Served on the Community Engagement Committee and the Professional Development Committee</li>
            <li>Spoke at conferences and events on behalf of ISL</li>
        </ul>
    </section>
    <section class="content-center">
        <h3>In April of 2019, it was time for a change. I joined the product and tech team at Axios as a Front-End Developer.</h3>
    </section>
    <section class="content-center">
        <h3>For the past year, I have served as &ldquo;First Engineer&rdquo; on the tech squad responsible for <a href="https://axios.com/" target="_blank">axios.com</a> and all 20+ newsletters.</h3>
    </section>
    <section class="content-center">
        <h3 class="margin-bottom">In February, we re-launched <a href="https://axios.com/" target="_blank">axios.com</a>!</h3>
        <h4 class="margin-bottom">The new site is AMP-first and written with Next.js, Typescript, and GraphQL. <a href="https://www.axios.com/new-axios-website-google-amp-563e62ba-8708-4965-8f5e-3216bd268383.html" target="_blank">
            Read all about it!</a></h4>
        
        <div class="grid">
            <div class="column size-30">
                <a href="https://www.axios.com/?forceReroute=false" target="_blank">
                    <img src="/static/images/projects/axios-1.jpg" title="Axios 1.0">
                </a>
                <a href="https://www.axios.com/?forceReroute=false" target="_blank">
                    <div class="Portfolio-title">Axios 1.0</div>
                </a>
            </div>
            <div class="column size-30">
                <a href="https://axios.com/" target="_blank">
                    <img src="/static/images/projects/axios-2.png" title="Axios 2.0">
                </a>
                <a href="https://axios.com/" target="_blank">
                    <div class="Portfolio-title">Axios 2.0</div>
                </a>
            </div>
            </div>
        </div>
    </section>
    <section class="content-center">
        <h3 class="margin-bottom">Things I'm passionate about:</h3>
        <ul>
            <li>Helping clients and users solve problems</li>
            <li>Making the web a better place for everyone</li>
            <li>Closing the gender gap in technology</li>
            <li>Mentoring and leading outreach events for girls interested in STEM</li>
            <li>Computer Science education in K-12</li>
            <li>Baseball <span title="Go Nats!">&#x26BE;</span> (Ask me why)</li>
            <li>The color purple &#x1F49C;</li>
        </ul>
    </section>
     <section class="content-center">
        <h1 class="margin-bottom">Let's chat!</h1>
        <br><br>
        <div>
            <a href="mailto:marissa.halpert@gmail.com" target="_blank">
                <img src="/static/images/social/envelope.png" class="Social-icon">
            </a>

            <a href="https://www.linkedin.com/in/marissahalpert/" target="_blank">
                <img src="/static/images/social/linkedin.png" class="Social-icon">
            </a>
            <br>
            <a href="https://twitter.com/marissahalpert" target="_blank">
                <img src="/static/images/social/twitter.png" class="Social-icon">

            <a href="https://www.instagram.com/marissa.halpert/" target="_blank">
                <img src="/static/images/social/instagram.png" class="Social-icon">
            </a>

            </a>
        </div>
    </section>
</article>

</main>
{% endblock %}