{% extends '_base.html' %}

{% block content %}
<main>

<article id="webslides" class="vertical">
    <!-- Slide 1 -->
    <section class="content-center">
        <h1>Hi &#x1F44B;</h1>
    </section>

    <section class="content-center">
        <h1>I'm Marissa Halpert.</h1>
    </section>

    <section class="content-center">
        <h2>I'm an award-winning Front-End Web Developer based in Washington, DC.</h2>
    </section>

    <section class="content-center">
        <h2>In 2018, I won the <a href="http://dcfemtech.com/awards" target="_blank">DCFemTech Award</a> for Power Women in Code.</h2>
        <h2>I'm also a National Winner of the NCWIT Award for Aspirations in Computing.</h2>
    </section>

    <section class="content-center">
        <h2>Currently, I build amazing user experiences as a Web Developer at <a href="https://isl.co/" target="_blank">ISL</a>.</h2>
    </section>

    <section class="content-center">
        <h2>I wrote my first line of code in high school and instantly fell in love with software development.</h2>
    </section>

    <section class="content-center">
        <h3>I continued this passion at James Madison University, where I graduated with a Bachelors of Science in Computer Science and a minor in Educational Media.</h3>
        <p>Go Dukes!</p>
    </section>
    <section class="content-center">
        <h3>After college, I worked as a full-stack Software Developer at <a href="https://www.carmax.com/" target="_blank">CarMax</a> in Richmond, VA. My team was tasked with rebuilding the proprietary appraisal software.</h3>
    </section>
    <section class="content-center">
        <h3 class="margin-bottom">Some highlights from my time at CarMax:</h3>
        <ul>
            <li>Developed new functionality using .NET framework, AngularJS, HTML5, CSS3, and C#.</li>
            <li>Performed business analysis role and worked with stakeholders and product owner to write business requirements as needed.</li>
            <li>Managed all aspects of mobile devices. Provided technical support. Recommended process and quality improvements.</li>
            <li>Earned <a href="https://www.scrumalliance.org/get-certified/practitioners/csm-certification" target="_blank">Certified ScrumMaster certification (CSM)</a>. Lead scrum ceremonies.</li>
            <li>Coordinated software update releases, managing communication and timing of several teams and stakeholders.</li>
            <li>Participated in daytime and after-hours on-call support rotation in event of a systemic problem or outage.</li>
            <li>Planned and participated in college recruiting events, community service team builder events, and department-wide employee engagement events.</li>
        </ul>
    </section>

    <section class="content-center">
        <h3>Wanting to relocate from (my hometown of) Richmond, I joined ISL in December of 2016 and moved to DC. At ISL, I focus on front-end web development.</h3>
    </section>
    <section class="content-center">
        <div class="wrap">
            <h3>Portfolio</h3>
            <div class="grid">
                <div class="column size-30">
                    <a href="https://serviceyear.org/" target="_blank">
                        <img src="/static/images/projects/serviceyear.png" class="" title="Service Year">
                    </a>
                    <a href="https://serviceyear.org/" target="_blank">
                        <h4>Service Year</h4>
                    </a>
                    <a href="https://isl.co/case-studies/service-year/" target="_blank">
                        <h5>ISL Case Study</h5>
                    </a>
                </div>
                <div class="column size-30">
                    <a href="https://doritosblaze.com/" target="_blank">
                        <img src="/static/images/projects/doritos-blaze.png" class="" title="Doritos Blaze">
                    </a>
                    <a href="https://doritosblaze.com/" target="_blank">
                        <h4>Doritos Blaze</h4>
                    </a>
                    <a href="https://isl.co/case-studies/doritos-blaze/" target="_blank">
                        <h5>ISL Case Study</h5>
                    </a>
                </div>
                 <div class="column size-30">
                    <a href="https://4front.io" target="_blank">
                        <img src="/static/images/projects/forefront.png" class="" title="Fore Front">
                    </a>
                    <a href="https://4front.io" target="_blank">
                        <h4>Fore_Front</h4>
                    </a>
                </div>
            </div>
            <div class="grid">
                <div class="column size-30">
                    <a href="https://music.pennzoil.com" target="_blank">
                        <img src="/static/images/projects/garagesessions.png" class="" title="Pennzoil Garage Sessions">
                    </a>
                    <a href="https://music.pennzoil.com" target="_blank">
                        <h4>Pennzoil</h4>
                    </a>
                </div>
                <div class="column size-30">
                    <a href="https://synthetics.pennzoil.com" target="_blank">
                        <img src="/static/images/projects/syntheticspennzoil.png" class="" title="Pennzoil">
                    </a>
                    <a href="https://synthetics.pennzoil.com" target="_blank">
                        <h4>Pennzoil</h4>
                    </a>
                </div>
                 <div class="column size-30">
                    <a href="#" target="_blank">
                        <img src="/static/images/projects/apollo.png" class="" title="National Air and Space Museum">
                    </a>
                    <a href="#" target="_blank">
                        <h4>National Air and Space Museum</h4>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="content-center">
        <h3 class="margin-bottom">Some other things I do at ISL:</h3>
        <ul>
            <li>Work closely with designers, product managers, scrummasters, and clients</li>
            <li>Mentor and onboard new team members and junior developers</li>
            <li>Coordinate team activities and events</li>
            <li>Lead, coordinate, and host tech outreach within DC community</li>
            <li>Serve on Community Engagement Committee and Professional Development Committee</li>
            <li>Speak at conferences and events on behalf of ISL</li>
        </ul>
    </section>
</article>

</main>
{% endblock %}