img {
    margin-bottom: 10px;
    height: 18rem;
}

img:hover {
    opacity: 1 !important;
}

.Portfolio-title {
    font-size: 2.5rem;
    line-height: 1.2;
}

.Portfolio-subtitle {
    font-size: 1.5rem;
    line-height: 1.8;
}
