@import 'components/Portfolio';
@import 'components/Typography';
@import 'components/Social';
@import 'suitcss';
@import 'vendor/webslides.css';

/* custom media queries */
@custom-media --sm-viewport (min-width: 0);
@custom-media --sm-only-viewport (max-width: 750px);
@custom-media --md-viewport (min-width: 750px);
@custom-media --md-only-viewport (min-width: 750px) and (max-width: 960px);
@custom-media --lg-viewport (min-width: 960px);

:root {
    --font-family: 'Fredoka One', Arial, sans-serif;
    --font-size: 1rem;

    --primary-color: rgb(153, 50, 204);
    --gray: #e2e5ec;
    --black: #000;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--gray);
}

::selection {
    background: #ffb7b7;
    color: #000;
}

section {
    padding: 0 2rem !important;
    width: 100% !important;

    @media(--md-viewport) {
        padding: 0 10rem !important;
    }

    @media(--lg-viewport) {
        padding: 0 14rem !important;
    }
}

.margin-bottom {
    margin-bottom: 2rem;
}

ul {
    text-align: left;
    font-size: 1.6rem;
    color: var(--primary-color);
    margin: 0;

    @media(--lg-viewport) {
        margin: 0 5rem;
    }
}
